files:
  "/tmp/run-docker.bash":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      docker pull selenium/standalone-chrome
      docker run -d -p 4444:4444 selenium/standalone-chrome

files:
  "/tmp/install-chrome-driver.bash":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      wget https://chromedriver.storage.googleapis.com/2.37/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
      sudo mv chromedriver ${WEBDRIVER_PATH}

container_commands:
  01_runchromedeploy:
    command: "/tmp/install-chrome-driver.bash"
  02_run_docker:
    command: "/tmp/run-docker.bash"



