files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /tmp/check-chromium-instances.bash

  "/tmp/check-chromium-instances.bash":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      date +"%T" >> /tmp/mycron.log
      echo "checking chromium instances" >> /tmp/mycron.log
      chromiumInstances=`ps aux --sort=lstart | grep "${CHROME_BINARY}" | grep 'zygote' | grep -v 'grep' | wc -l`

      if [[ $chromiumInstances -gt 1 ]]; then
      oldestInstance=`ps aux --sort=lstart | grep "${CHROME_BINARY}" | grep 'zygote' | grep -v 'grep' | head -n 1`
      pidToKill=`echo $oldestInstance | awk '{print $2}'`

      echo "Killing chromium process id "$pidToKill >> /tmp/mycron.log
      sudo kill -9 $pidToKill
      fi

container_commands:
  01_runchromedeploy:
    command: "curl https://s3.eu-west-2.amazonaws.com/phillipdennessscraper/install-serverless-chrome.bash | bash"



