files:
  "/tmp/install-chrome-driver-docker-chrome.bash":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      wget https://chromedriver.storage.googleapis.com/2.37/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
      sudo mv chromedriver ${CHROME_DRIVER_PATH}
      docker pull selenium/standalone-chrome
      docker run -d -p 4444:4444 selenium/standalone-chrome


container_commands:
  01_rundockerchromedeploy:
    command: "/tmp/install-chrome-driver-docker-chrome.bash"
    ignoreErrors: true



